h1
{text-align: right;color:brown;
font-size: 38px;}
p,ul
{font-size:24px;
	text-shadow: 2px 1px 8px grey;
font-family: Georgia;}
.flottant
{float:right;box-shadow: 6px 6px 6px black;}
h2
{text-align:left;
	color: blue;
	font-size: 30px;
	text-shadow: 2px 2px 8px grey;
border: 3px orange solid;}
section
{
    position:absolute;
    right:10px;
    bottom:80px;
    border: 1px solid blue;
    
}
body
{
background-image: url("img/background.jpg");
}
